# Application environment configuration
MONGODB_URI=
JWT_SECRET="hyperlocal_super_secure_jwt_secret_dev_key_2025"
CLIENT_URL="http://localhost:3000"
SERVER_URL="http://localhost:3000"
MAP_API_KEY=
WEATHER_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# AI Studio injected variables
GEMINI_API_KEY=""
APP_URL=""

